body {
    margin: 0;
    font-family: monospace;
}

.hero {
    background-image: url(img/houstons_beach.jpg);
    color: #957367;
    font-size: 18px;
    padding-top: 100px;
    padding-bottom: 200px;
    padding-left: 200px;
    background-size: cover;
    background-repeat: no-repeat;
}