body {
    margin: 0;
    font-family: monospace;
}

.hero {
    background-image: url(img/houstons_beach.jpg);
    color: rgb(0, 0, 0);
    font-size: 20px;
    padding-top: 100px;
    padding-bottom: 200px;
    padding-left: 100px;
    background-size: cover;
    background-repeat: no-repeat;
}